@font-face {
  font-family: "Neue Montreal book";
  src: url(../fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Book.otf);
  font-weight: book;
}
@font-face {
  font-family: "Neue Montreal bold";
  src: url(../fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Neue Montreal italic";
  src: url(../fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Italic.otf);
  font-weight: italic;
}
@font-face {
  font-family: "Neue Montreal medium";
  src: url(../fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Medium.otf);
  font-weight: medium;
}
@font-face {
  font-family: "Neue Montreal SemiBolditalic";
  src: url(../fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-SemiBolditalic.otf);
  font-weight: SemiBolditalic;
}
@font-face {
  font-family: "Neue Montreal thin";
  src: url(../fonts/NeueMontreal/PPNeueMontreal-Free\ for\ personal\ use\ v2.4/PPNeueMontreal-Thin.otf);
  font-weight: thin;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Neue Montreal medium", "Courier New", Courier, monospace;
  outline: red 0px solid;
  text-decoration: none;
}
html,
body {
}

html {
  background:white;

  background-attachment: fixed;
}
body {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.row {
  justify-content: center;
  align-items: center;
}

.card {
}
