.row {
  justify-content: center;
  align-items: center;
}

.main {
  margin: 0;
  width: 100vw;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: red;
}

.navbar {
  background: rgb(255, 255, 255);
}

.navbutton:hover path {
  fill: #000080;
}

.height {
  height: 100%;
}
